@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  padding: 20px;
}

ol {
  padding: 20px;
}

a {
  color: aqua;
}

.markdown-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.markdown-body img {
  width: 1200px;
  height: auto;
  margin: auto;
  object-fit: cover;
  border-radius: 20px;
}

.markdown-body a {
  font-weight: 600;
  color: #1474ab !important;
}
